name: Deploy AlphaESS Runbook

on:
  push:
    branches:
      - main
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set Runbook Name
        id: set-runbook
        run: |
          if [[ "${GITHUB_REF##*/}" == "main" ]]; then
            echo "runbook=AlphaESSControlGithub" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF##*/}" == "test" ]]; then
            echo "runbook=AlphaESSControlTest" >> $GITHUB_OUTPUT
          fi

      - name: Upload Runbook Script
        run: |
          az automation runbook replace-content \
            --resource-group AlphaESSControl \
            --automation-account-name AlphaESSAutomation \
            --name ${{ steps.set-runbook.outputs.runbook }} \
            --content @AlphaESSControl.ps1

      - name: Publish Runbook
        run: |
          az automation runbook publish \
            --resource-group AlphaESSControl \
            --automation-account-name AlphaESSAutomation \
            --name ${{ steps.set-runbook.outputs.runbook }}
